<div style="padding: 20px;">
	<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Cookies Policy</p>
<p>Last updated: 01/2019</p>
<p>Welcome to Bless (the &ldquo;Platform&rdquo;) and our website, services, applications, products and content (that include but are not limited to the Platform) (collectively, the &ldquo;Services&rdquo;). We use cookies and similar technologies such as pixels. Cookies make your interaction with our Platform and Services easy and helpful and allow us to store information or gain access to information stored on your device. Cookies are used by all website providers to make the website work and provide information to the owners of the Platform or provides of the Services.</p>
<p>1. What is a cookie?</p>
<p>Cookies are small text files that uniquely identify your browser or device. The cookie is stored on your browser by website or apps that you visit. When you return to that website or app (or visit websites or apps that use the same cookies) these Platforms recognize the cookies and your browsing device. For a more thorough explanation of what cookies are and how they work, please visit the EU Guide to</p>
<p>Cookies, aboutcookies.org or allaboutcookies.org.</p>
<p>We also use pixels. Pixels are small portions of code which we use on our Platform. We use pixels to learn whether you have clicked on certain web content and help us to optimize our ad campaigns. This helps us measure and improve our Services and personalize your experience.</p>
<p>2. Categories of cookies</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 2">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Cookies do many different jobs, like letting you navigate between pages efficiently, remembering your preferences, and generally improving the user experience. Cookies can tell us, for example, whether you have visited the Platform before or whether you are a new visitor. They can also help to ensure that adverts you see online are more relevant to you and your interests.</p>
<p>There are different categories of cookies, including:</p>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>First-party cookies</p>
</li>
<li>
<p>Third-party Cookies</p>
</li>
</ul>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>First party cookies are small amounts of text which are served by us directly to your device.</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Third-party cookies, which are served by a third party on our behalf. We use third party cookies for functionality, performance, targeting or advertising and social media purposes.</p>
<p>Cookies can remain on your computer or mobile device for different periods of time. Some cookies are 'session cookies', meaning that they exist only while your browser is open and are deleted automatically once you close your browser. Other cookies are 'permanent cookies', meaning that they survive after your browser is closed. They can be used by the Platform to recognize your computer when you open your browser and browse the Internet again.</p>
<p>3. What types of cookies do we use and how do we use them?</p>
<p>The types of cookies and similar technologies used by us and our partners in connection with the Platform can be classified into one of five categories, namely 'essential Platform cookies', 'functionality cookies', 'analytics and performance cookies', 'advertising cookies', and ' social media cookies'. Cookies do a lot of different tasks to ensure you enjoy your visit to our</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Platform, for example, they are used to remember your preferences on sites you visit, to help you navigate between pages more efficiently and to make sure the adverts you see on our Platform are relevant to you and your interests. We have set out some further information about each category, and the purposes of the cookies we and third parties set in the following table.</p>
<p>Cookies that are necessary for essential purposes</p>
<p>These cookies are essential to provide you with the Platform and any Services and to use some of its features, such as to enable you to log into secure areas of the Platform. Without these cookies, we would not be able to provide you with a secure log in account or pages where you can buy our Virtual Items. We use cookies to uniquely identify you. Each time you log in to our Platform, a cookie containing a unique identifier that is tied to your account is placed on your browser. These cookies allow Bless to uniquely identify you when you are logged into the Platform and to process your online transactions and requests.</p>
<p>Performance Cookies</p>
<p>We use performance/analytics cookies to analyze how you use the Platform, including which pages, videos and accounts you view most often, measure any errors that occur and test different design ideas. The information is used to report and evaluate your activities and patterns as a user of the Platform to provide Services in accordance with these activities. These cookies do not collect information that individually identifies you and all information these cookies collect is aggregated and anonymous&rsquo;</p>
<p>On our Platform, we also use third-party analytics tools to help us measure traffic and usage trends for the Services. Our third party analytics tool is Google Analytics provided by Google, Inc (1600 Amphitheatre Parkway Mountain View, CA 94043, USA). Google Analytics uses cookies, small text files containing a string of alphanumeric characters and which are stored on your computer to provide us with statistics on the use of our Service and Platform. The reports that we received from Google disclose trends without</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 4">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>identifying individual visitors. For further information on how Google Analytics collects and processes information about you and information on how to opt out from Google's collection of information from you, please click here. You can opt out of Google Analytics without affecting how you</p>
<p>visit our site &ndash; for more information on opting out of being tracked by Google Analytics across all Platforms you use, see here.</p>
<p>Functionality Cookies</p>
<p>Functionality cookies record information you have entered or choices you have made. These cookies also enable you to optimize your use of our Services after logging in so that we can personalize our content for you, greet you by name and remember your preference. These cookies can also be used to remember settings you have applied, such as layout and text size. These cookies mean that when you continue to use or come back to the Platform, we can provide you with our Services as you have asked for them to be provided.</p>
<p>Targeting or Advertising Cookies</p>
<p>Analytics: As you use our Platform, you will notice that it features advertising. We allow third party companies, including advertising companies, to place cookies on our Platform to track the performance of our advertisements. As an example, these cookies remember which users have visited the Platform and the links you have followed. The information provided to third parties does not include personal information but it may be associated with personal information after we receive it.</p>
<p>Marketing: We may also contract with third-party advertising networks that collect IP addresses and other information from our Platform, from emails and third party websites and apps. Ad networks follow your online activities and collect information through automated means (such as through the use of cookies). Ad networks use this information, mainly to serve adverts about products and services that are likely to interest you. We may also partner with third parties to provide certain features on our Platforms or display advertising based on your web browsing activity. We may also use</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 5">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>information from one device to help personalize your experience on another device.</p>
<p>Social Media Cookies</p>
<p>On some pages of our Platform, third parties that provide applications through our Platform will set their own cookies in order to track the success of their applications or customize applications for you. Because of how cookies work, we cannot access these cookies, nor can the third parties access the data in cookies used by us. If you are logged in to your account with the third party, the third party will be able to link information about you with your actions via cookies.</p>
<p>Other technologies we use</p>
<p>In addition to the cookies we use on this Platform, we also use pixels. In particular, we use "Facebook Pixel" of Facebook Inc., 1 Hacker Way, Menlo Park, CA 94025, USA ("Facebook"). This tool is used for advertising purposes in order to reveal if you have seen our advertisement on Facebook and help us to ensure you see the ads you need to see. If you do not want Facebook to collect the described information about you, you can opt-out of Facebook's use of cookies and Facebook Pixels here.</p>
<p>4. How to delete cookies</p>
<p>We use cookies on this site to make sure you can use the site easily and enjoy the site.</p>
<p>You can change your preferences by changing the settings in your browser. Most browsers will allow you to choose the level of privacy settings you want. This lets you control your cookie settings so that you can:</p>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>&bull; See what cookies or other locally stored data you&rsquo;ve got and delete them on an individual basis;</p>
</div>
</div>
</div>
<div class="page" title="Page 6">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Block third party cookies or similar technology;</p>
</li>
<li>
<p>Block cookies or similar technology from particular sites;</p>
</li>
<li>
<p>Block all cookies or similar technologies from being set; or</p>
</li>
<li>
<p>Delete all cookies or similar technologies when you close your browser.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Deleting cookies or similar technologies means that any preference settings you have made on a Platform will be lost. Blocking all cookies or similar technology means functionality on our Platforms will be lost. Please note that if you choose to refuse cookies or pixels you may not be able to use the full functionality of our Platform.</p>
<p>For more information on how to manage the most popular browsers, please see below:</p>
<p>Internet Explorer</p>
<p>https://support.microsoft.com/en-us/help/17442/windows-internet- explorer-delete-manage-cookies</p>
<p>Firefox</p>
<p>https://support.mozilla.org/en-US/kb/cookies-information-websites- store-on-your-computer?</p>
<p>Google Chrome</p>
<p>https://support.google.com/chrome/answer/95647?hl=en</p>
<p>Safari</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 7">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>https://support.apple.com/guide/safari/manage-cookies-and-website-data- sfri11471/mac</p>
<p>How to opt out of online ads</p>
<p>You have the option to opt out of seeing targeted online ads from us and other participating companies by setting your preferences.</p>
<p>You can also opt out of seeing targeted online ads from us and other participating companies by<br /> visiting http://www.youronlinechoices.com/uk/your-ad-choices. Please</p>
<p>note that this list will contain more networks than those used on our site. Alternatively, you can opt out of certain cookies through the settings in your browser. Please note that neither of these options mean that you will see less advertising when you visit our site, the only effect is that the advertising will be less relevant to you.</p>
<p>To learn more about the advertising companies we work with and the choices they offer, please take a look at the following resources:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Digital Advertising Alliance; and;</p>
</li>
<li>
<p>European Interactive Digital Advertising Alliance</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>5. Changes to this policy</p>
<p>We will occasionally update this policy to reflect changes in our practices, Platform and Services. When we post changes to this policy, we will revise the "Last Updated" date at the top of this policy. If we make any material changes in the way we collect, use, and/or share information held in cookies, we will notify you by prominently posting notice of the changes on the Platform. We recommend that you check this page from time to time to inform yourself of any changes in this policy or any of our other policies.</p>
<p>6. Need more information?</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 8">
<div class="layoutArea">
<div class="column">
<p>If you would like to find out more about cookies and their use on the Internet, you may find the following links useful:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>All About Cookies;</p>
</li>
<li>
<p>EU Guide to Cookies; or<br /> &bull; youronlinechoices.co.uk/uk.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7. Contact us</p>
<p>If you have any questions or comments about this policy, or privacy matters generally, please contact us via email privacy@bless.com.</p>
</div>
</div>
</div>
</div>
</div>
