<!-- <embed src="intellectual.pdf" width="100%" height="100%" /> -->
<div style="padding: 20px;">
	<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Bless respects the intellectual property rights of others, and we expect you to do the same. Bless&rsquo;s Terms of Service and Community Guidelines do not allow posting, sharing, or sending any content that violates or infringes someone else&rsquo;s copyrights, trademarks or other intellectual property rights.</p>
<p>Copyright</p>
<p>Copyright is a legal right that protects original works of authorship (e.g., music, videos, etc.). Generally, copyright protects an original expression of an idea but does not protect underlying ideas or facts.</p>
<p>Copyright Infringement</p>
<p>We do not allow any content that infringes copyright. Any use of copyrighted content of others without proper authorization or legally valid reason may lead to a violation. In some cases, you may be required to provide evidence to prove that you are entitled to use copyrighted content of others.</p>
<p>Removal of Content; Suspension or Termination of</p>
<p>Account</p>
<p>Any user content that infringes other person&rsquo;s copyright may be removed. Your account may be suspended or terminated for multiple copyright violations in connection with your use of the Bless site or</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 2">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>app, or other violations of the Terms of Service and Community Guidelines.</p>
<p>Copyright Infringement Notification</p>
<p>If you believe that your copyright-protected work was posted on Bless&rsquo; s site or app, or otherwise hosted by Bless without authorization, you may submit a copyright infringement notification.</p>
<p>The notification must include the following:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>An email address, physical address and a phone number so that we and the uploader of your work can contact you.</p>
</li>
<li>
<p>A clear and complete description of your work that you believe has been infringed.</p>
</li>
<li>
<p>The URL or other identifying location of the allegedly infringing work.</p>
</li>
<li>
<p>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law.</p>
</li>
<li>
<p>A statement, made under penalty of perjury, that the above information is accurate, and that you are the copyright owner or are authorized to act on behalf of the copyright owner.</p>
</li>
<li>
<p>The physical or electronic signature of the copyright owner or an authorized representative of the copyright owner. To satisfy this requirement, you may type your full legal name (not that of a company) at the bottom of your notification.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="layoutArea">
<div class="column">
<p>Submit the above information to us:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>By Copyright Infringement Report; or</p>
</li>
<li>
<p>By Email: copyright@bless.com; or</p>
</li>
<li>
<p>By Mail: If you reside in the United States, please submit the above information to: DMCA Notice Department, Music Reports, Inc., 21122 Erwin St., Woodland Hills, CA 91367, +1 818 558 1400. If you reside outside of the United States, please submit the above information to Legal Department, WeWork c/o Bless Pte. Ltd., 8 Cross Street Singapore, 048424, Singapore, +65 6950 4420</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>All information submitted in your copyright infringement notification may be forwarded to the uploader of the content,<br /> to lumendatabase.org, or otherwise made public in any way by Bless or a third party.</p>
<p>Before submitting a notification, please be aware of that intentionally submitting a misleading or fraudulent report may lead to liability for damages under section 512(f) of the United States Digital Millennium Copyright Act (DMCA) or similar laws in other countries.</p>
<p>Copyright Infringement Counter-Notification</p>
<p>If you receive a copyright infringement notification that you believe to be in error, you may provide us with a counter-notification.</p>
<p>The counter-notification must include the following:</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 4">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Your contact information, including your full legal name (not that of a company), an email address, a physical address, and a phone number. If you are an authorized representative of the uploader, such as an attorney, please be sure to specify your relationship to the uploader.</p>
</li>
<li>
<p>Identify the location, including any URL, of the work that has been removed or disabled.</p>
</li>
<li>
<p>You must agree to and include the following statement: "I consent to the jurisdiction of the Federal District Court for the district in which my address is located, or if my address is outside of the United States, the judicial district in which Bless is located, and will accept service of process from the claimant."</p>
</li>
<li>
<p>And the following statement: "I swear, under penalty of perjury, that I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."</p>
</li>
<li>
<p>Your physical or electronic signature. To satisfy this requirement, you may type your full legal name (not that of a company) at the bottom of your electronic counter-notification.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>Submit the above information to us:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>By Email: copyright@bless.com; or</p>
</li>
<li>
<p>By Mail: If you reside in the United States, please submit the above information to: DMCA Notice Department, Music Reports, Inc., 21122 Erwin St., Woodland Hills, CA 91367, +1 818 558 1400. If you reside outside of the United States, please submit the above information to:</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 5">
<div class="layoutArea">
<div class="column">
<p>Legal Department, WeWork c/o Bless Pte. Ltd., 8 Cross Street Singapore, 048424, Singapore, +65 6950 4420.</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>The counter-notification process may take no less than 10 business days to complete, please be patient. During this time, the copyright claimant may file an action seeking a court order to keep the content down. Please note that we will forward the entire counter-notification to the copyright claimant, including any personal information you provide, and the counter-notification may be made public. The claimant may use this information to file a lawsuit against you.</p>
<p>If we do not receive notice within 10 business days that the original reporter is seeking a court order to prevent further infringement of the material at issue, we may replace or cease disabling access to the material that was removed. The decision to re-post any material is at Bless&rsquo;s sole discretion.</p>
<p>Trademark</p>
<p>A trademark is a word, symbol, slogan, design, or combination of any of the foregoing that identifies the source of a product or service and distinguishes it from other products or services.</p>
<p>Bless&rsquo;s policies prohibit any content that infringes on another person&rsquo;s trademark. Using another person&rsquo;s trademark in a way that may</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 6">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>mislead or confuse people to believe that you are affiliated with the trademark owner may be a violation of our trademark policy.</p>
<p>However, using another person&rsquo;s trademark for the purpose of accurately referencing the trademark owner&rsquo;s products or services, or to compare them to other products or services, is generally not considered a violation of our trademark policy.</p>
<p>Removal of Content; Suspension or Termination of</p>
<p>Account</p>
<p>Any user content that infringes other person&rsquo;s trademark may be removed. Your account may be suspended or terminated for multiple trademark violations in connection with your use of the Bless site or app, or other violations of the Terms of Service and Community Guidelines.</p>
<p>Trademark Infringement Notification</p>
<p>Bless may investigate reports that are submitted by the trademark holder or their authorized representative. You can submit a trademark report to us through Trademark Infringement Report or via email (reports@bless.com), by providing the following information:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; Your contact information, including your full name, physical address, email address and a phone number. Please note that we may provide your information and details of your report to the person who posted the content or owns the account you are reporting. This person may contact you with the information you provide.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 7">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Your relationship to the trademark owner.</p>
</li>
<li>
<p>A clear and complete description of your trademark that you believe has been infringed, including the jurisdiction of registration, registration number, trademarked goods and services class.</p>
</li>
<li>
<p>A scan of trademark registration certificate or a direct link (URL) to your trademark record.</p>
</li>
<li>
<p>Information about the allegedly infringing content, including the URL or other identifying location of the allegedly infringing content, and a description of how the content has been infringing your trademark.</p>
</li>
<li>
<p>A statement that you have a good faith belief that use of the trademark described above, in the manner complained of, is not authorized by the trademark owner, its agent, or the law.</p>
</li>
<li>
<p>A statement, made under penalty of perjury, that the above information is accurate, and that you are the trademark owner or are authorized to act on behalf of the owner.</p>
</li>
<li>
<p>The physical or electronic signature of the trademark owner or an authorized representative of the trademark owner.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>If we remove content in response to a report of trademark infringement, we may notify the person you reported to inform them the content was removed. We may also provide them with your contact information, including your email address and the name of the trademark owner, and/or details of your report.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 8">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>General Note:</p>
<p>As a Bless user, you are responsible for the content you post. If you have questions about copyright law or trademark law, such as questions about whether your content or your use of another person&rsquo;s name or brand infringes or otherwise violates another person&rsquo;s rights, you may want to contact an attorney. If you are unsure whether the material you plan to report to us is infringing or otherwise violating another person&rsquo;s right, you may also want to first seek legal advice before reporting such content to us.</p>
<p>If you submit a report or infringement notification to us, we may contact you if we have additional questions about your report or notification. Please note that Bless is not in a position to adjudicate disputes between third parties, and may not be able to remove the content or suspend the account you reported for infringement or violation. As an alternative, you may want to contact the person who posted the content or owns the account to try to resolve your issue directly.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
