<!-- <embed src="privacy.pdf" width="100%" height="100%" /> -->
<div style="padding: 20px;">
	
	<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 1">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>If you are a US resident, this Privacy Policy shall apply.<br /> If you are a user having your usual residence in the EU, this Privacy</p>
<p>Policy shall apply.<br /> If you are a user having your usual residence in Germany, this Privacy</p>
<p>Policy shall apply.<br /> If your are a user having your usual residence in Russia, this Privacy</p>
<p>Policy shall apply.<br /> If your residence is in another country, and not the US or EU,</p>
<p>this Privacy Policy shall apply.</p>
<p>Privacy Policy</p>
<p>(If you are a US resident) Last update: January 1, 2020.</p>
<p>Welcome to Bless (the &ldquo;Platform&rdquo;). The Platform is provided and controlled by Bless Inc. (&ldquo;Bless&rdquo;, &ldquo;we&rdquo; or &ldquo;us&rdquo;). We are committed to protecting and respecting your privacy. This Privacy Policy covers the experience we provide for users age 13 and over on our Platform. For information about our under-13 experience (&ldquo;Children&rsquo;s Platform&rdquo;) and</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 2">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>our practices in the United States regarding children&rsquo;s privacy, please refer to our Privacy Policy for Younger Users.</p>
<p>Capitalized terms that are not defined in this policy have the meaning given to them in the Terms of Service.</p>
<p>What information do we collect?</p>
<p>We collect information when you create an account and use the Platform. We also collect information you share with us from third- party social network providers, and technical and behavioral information about your use of the Platform. We also collect information contained in the messages you send through our Platform and information from your phone book, if you grant us access to your phone book on your mobile device. More information about the categories and sources of information is provided below.</p>
<p>Information you choose to provide</p>
<p>For certain activities, such as when you register, upload content to the Platform, or contact us directly, you may provide some or all of the following information:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Registration information, such as age, username and password, language, and email or phone number</p>
</li>
<li>
<p>Profile information, such as name, social media account information, and profile image</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 3">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>User-generated content, including comments, photographs, videos, and virtual item videos that you choose to upload or broadcast on the Platform (&ldquo;User Content&rdquo;)</p>
</li>
<li>
<p>Payment information, such as PayPal or other third-party payment information (where required for the purpose of payment)</p>
</li>
<li>
<p>Your phone and social network contacts, with your permission. If you choose to find other users through your phone contacts, we will access and collect the names and phone numbers and match that information against existing users of the Platform. If you choose to find other users through your social network contacts, we will collect your public profile information as well as names and profiles of your social contacts</p>
</li>
<li>
<p>Your opt-in choices and communication preferences</p>
</li>
<li>
<p>Information to verify an account</p>
</li>
<li>
<p>Information in correspondence you send to us</p>
</li>
<li>
<p>Information you share through surveys or your participation in challenges, sweepstakes, or contests such as your gender, age, likeness, and preferences.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Information we obtain from other sources</p>
<p>We may receive the information described in this Privacy Policy from other sources, such as:</p>
<p>Social Media. if you choose to link or sign up using your social network (such as Facebook, Twitter, Instagram, or Google), we may collect information from these social media services, including your</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 4">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>contact lists for these services and information relating to your use of the Platform in relation to these services.</p>
<p>Third-Party Services. We may collect information about you from third-party services, such as advertising partners and analytics providers.</p>
<p>Others Users of the Platform. Sometimes other users of the Platform may provide us information about you, including through customer service inquiries.</p>
<p>Other Sources. We may collect information about you from other publicly available sources.</p>
<p>Information we collect automatically</p>
<p>We automatically collect certain information from you when you use the Platform, including internet or other network activity information such as your IP address, geolocation-related data (as described below), unique device identifiers, browsing and search history (including content you have viewed in the Platform), and Cookies (as defined below).</p>
<p>Usage Information</p>
<p>We collect information regarding your use of the Platform and any other User Content that you generate through and broadcast on our Platform. We also link your subscriber information with your activity on</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 5">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>our Platform across all your devices using your email, phone number, or similar information.</p>
<p>Device Information</p>
<p>We collect information about the device you use to access the Platform, including your IP address, unique device identifiers, model of your device, your mobile carrier, time zone setting, screen resolution, operating system, app and file names and types, keystroke patterns or rhythms, and platform.</p>
<p>Location data</p>
<p>We collect information about your location, including location information based on your SIM card and/or IP address. With your permission, we may also collect Global Positioning System (GPS) data.</p>
<p>Messages</p>
<p>We collect and process, which includes scanning and analyzing, information you provide in the context of composing, sending, or receiving messages through the Platform&rsquo;s messaging functionality. That information includes the content of the message and information about when the message has been sent, received and/or read, as well as the participants of the communication. Please be aware that messages sent to other users of the Platform will be accessible by those users and that we are not responsible for the manner in which those users use or disclose messages.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 6">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Metadata</p>
<p>When you upload User Content, you automatically upload certain metadata that is connected to the User Content. Metadata describes other data and provides information about your User Content that will not always be evident to the viewer. In connection with your User Content the metadata can describe how, when, and by whom the piece of User Content was collected and how that content is formatted. It also includes information, such as your account name, that enables other users to trace back the User Content to your user account. Additionally, metadata will consist of data that you chose to provide with your User Content, e.g. any hashtags used to mark keywords to the video and captions.</p>
<p>Cookies</p>
<p>We and our service providers and business partners use cookies and other similar technologies (e.g. web beacons, flash cookies, etc.) (&ldquo; Cookies&rdquo;) to automatically collect information, measure and analyze which web pages you click on and how you use the Platform, enhance your experience using the Platform, improve the Platform, and provide you with targeted advertising on the Platform and elsewhere across your different devices. Cookies are small files which, when placed on your device, enable the Platform to provide certain features and functionality. Web beacons are very small images or small pieces of data embedded in images, also known as &ldquo;pixel tags&rdquo; or &ldquo;clear GIFs,&rdquo; that can recognize Cookies, the time and date a page is viewed, a description of the page where the pixel tag is placed, and similar</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 7">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>information from your computer or device. To learn how to disable Cookies, see the &ldquo;Your choices&rdquo; section below.</p>
<p>Additionally, we allow these service providers and business partners to collect information about your online activities through Cookies. We and our service providers and business partners link your contact or subscriber information with your activity on our Platform across all your devices, using your email or other log-in or device information. Our service providers and business partners may use this information to display advertisements on our Platform and elsewhere online and across your devices tailored to your interests, preferences, and characteristics. We are not responsible for the privacy practices of these service providers and business partners, and the information practices of these service providers and business partners are not covered by this Privacy Policy.</p>
<p>We may aggregate or de-identify the information described<br /> above. Aggregated or de-identified data is not subject to this Privacy Policy.</p>
<p>How we use your information</p>
<p>As explained below, we use your information to fulfill and enforce our Terms of Service, to improve and administer the Platform, and to allow you to use its functionalities. We may also use your information to, among other things, show you suggestions, promote the Platform, and customize your ad experience.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 8">
<div class="layoutArea">
<div class="column">
<p>We generally use the information we collect:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>to fulfill requests for products, services, Platform functionality, support and information for internal operations, including troubleshooting, data analysis, testing, research, statistical, and survey purposes and to solicit your feedback</p>
</li>
<li>
<p>to customize the content you see when you use the Platform. For example, we may provide you with services based on the country settings you have chosen or show you content that is similar to content that you liked or interacted with</p>
</li>
<li>
<p>to send promotional materials from us or on behalf of our affiliates and trusted third parties</p>
</li>
<li>
<p>to improve and develop our Platform and conduct product development</p>
</li>
<li>
<p>to measure and understand the effectiveness of the advertising we serve</p>
<p>to you and others and to deliver targeted advertising</p>
</li>
<li>
<p>to make suggestions and provide a customized ad experience</p>
</li>
<li>
<p>to support the social functions of the Platform, including to permit you and other users to connect with each other through the Platform and for you and other users to share, download, and otherwise interact with User Content posted through the Platform</p>
</li>
<li>
<p>to use User Content as part of our advertising and marketing campaigns to promote the Platform</p>
</li>
<li>
<p>to understand how you use the Platform, including across your devices</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 9">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>to infer additional information about you, such as your age, gender, and interests</p>
</li>
<li>
<p>to help us detect abuse, fraud, and illegal activity on the Platform</p>
</li>
<li>
<p>to ensure that you are old enough to use the Platform (as required by</p>
<p>law)</p>
</li>
<li>
<p>to communicate with you, including to notify you about changes in our services</p>
</li>
<li>
<p>to announce you as a winner of our contest, sweepstakes, or promotions if permitted by the promotion rule, and to send you any applicable prizes</p>
</li>
<li>
<p>to enforce our terms, conditions, and policies</p>
</li>
<li>
<p>consistent with your permissions, to provide you with location-based</p>
<p>services, such as advertising and other personalized content</p>
</li>
<li>
<p>to inform our algorithms</p>
</li>
<li>
<p>to combine all the information we collect or receive about you for any of the foregoing purposes</p>
</li>
<li>
<p>for any other purposes disclosed to you at the time we collect your information or pursuant to your consent.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>How we share your information</p>
<p>We are committed to maintaining your trust, and while Bless does not sell personal information to third parties, we want you to understand</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 10">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>when and with whom we may share the information we collect for business purposes.</p>
<p>Service Providers and Business Partners</p>
<p>We share the categories of personal information listed above with service providers and business partners to help us perform business operations and for business purposes, including research, payment processing and transaction fulfillment, database maintenance, administering contests and special offers, technology services, deliveries, email deployment, advertising, analytics, measurement, data storage and hosting, disaster recovery, search engine optimization, marketing, and data processing.</p>
<p>Within Our Corporate Group</p>
<p>We may share your information with a parent, subsidiary, or other affiliate of our corporate group.</p>
<p>In Connection with a Sale, Merger, or Other Business</p>
<p>Transfer</p>
<p>We may share your information in connection with a substantial corporate transaction, such as the sale of a website, a merger, consolidation, asset sale, or in the unlikely event of bankruptcy.</p>
<p>For Legal Reasons</p>
<p>We may disclose your information to respond to subpoenas, court orders, legal process, law enforcement requests, legal claims, or</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 11">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>government inquiries, and to protect and defend the rights, interests, safety, and security of Bless Inc., the Platform, our affiliates, users, or the public. We may also share your information to enforce any terms applicable to the Platform, to exercise or defend any legal claims, and comply with any applicable law.</p>
<p>With Your Consent</p>
<p>We may share information for other purposes pursuant to your consent or with your further direction.</p>
<p>If you access third-party services, such as Facebook, Google, or Twitter, to login to the Platform or to share information about your usage on the Platform with others, these third-party services may be able to collect information about you, including information about your activity on the Platform, and they may notify your connections on the third-party services about your use of the Platform, in accordance with their privacy policies.</p>
<p>If you choose to engage in public activities on the Platform, you should be aware that any information you share may be read, collected, or used by other users. You should use caution in disclosing personal information while engaging. We are not responsible for the information you choose to submit.</p>
<p>Your Rights</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 12">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>You may submit a request to access or delete the information we have collected about you by sending your request to us at the email or physical address provided in the Contact section at the bottom of this policy. We will respond to your request consistent with applicable law and subject to proper verification. And we do not discriminate based on the exercise of any privacy rights that you might have.</p>
<p>Your Choices</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>You may be able to refuse or disable Cookies by adjusting your browser settings. Because each browser is different, please consult the instructions provided by your browser. Please note that you may need to take additional steps to refuse or disable certain types of Cookies. For example, due to differences in how browsers and mobile apps function, you may need to take different steps to disable Cookies used for targeted advertising in a browser and to disable targeted advertising for a mobile application, which you may control through your device settings or mobile app permissions. In addition, your choice to disable cookies is specific to the particular browser or device that you are using when you disable cookies, so you may need to separately disable cookies for each type of browser or device. If you choose to refuse, disable, or delete Cookies, some of the functionality of the Platform may no longer be available to you. Without this information, we are not able to provide you with all the requested services, and any differences in services are related to your information.</p>
</li>
<li>
<p>You can manage third-party advertising preferences for some of the third parties we work with to serve advertising across the Internet by clicking here and by utilizing the choices available</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 13">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>at www.networkadvertising.org/managing/opt_out.asp and www.aboutads .info/choices.</p>
<ul>
<li>
<p>Your mobile device may include a feature that allows you to opt out of some types of targeted advertising ("Limit Ad Tracking" on iOS and "Opt out of Interest-Based Ads" on Android).</p>
</li>
<li>
<p>You can opt out of marketing or advertising emails by utilizing the &ldquo; unsubscribe&rdquo; link or mechanism noted in marketing or advertising emails.</p>
</li>
<li>
<p>You can switch off GPS location information functionality on your mobile device if you do not wish to share GPS information.</p>
</li>
<li>
<p>If you have registered for an account you may access, review, and update certain personal information that you have provided to us by logging into your account and using available features and functionalities.</p>
</li>
<li>
<p>Some browsers transmit "do-not-track" signals to websites. Because of differences in how browsers incorporate and activate this feature, it is not always clear whether users intend for these signals to be transmitted, or whether they even are aware of them. We currently do not take action in response to these signals.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Security</p>
<p>We use reasonable measures to help protect information from loss, theft, misuse and unauthorized access, disclosure, alteration, and destruction. You should understand that no data storage system or transmission of data over the Internet or any other public network can be guaranteed to be 100 percent secure. Please note that information collected by third parties may not have the same security protections</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 14">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>as information you submit to us, and we are not responsible for protecting the security of such information.</p>
<p>Children</p>
<p>The privacy of users under the age of 13 (&ldquo;Younger Users&rdquo;) is important to us. We provide a separate experience for Younger Users in the United States on the Children&rsquo;s Platform, in which we collect only limited information. For more information on our United States data collection practices for Younger Users, please visit the Privacy Policy for Younger Users.</p>
<p>The Platform otherwise is not directed at children under the age of 13. If we become aware that personal information has been collected on the Platform from a person under the age of 13 we will delete this information and terminate the person&rsquo;s account. If you believe that we have collected information from a child under the age of 13 on the Platform, please contact us at privacy@bless.com.</p>
<p>Other Rights</p>
<p>Sharing for Direct Marketing Purposes (Shine the</p>
<p>Light)</p>
<p>If you are a California resident, once a calendar year, you may be entitled to obtain information about personal information that we shared, if any, with other businesses for their own direct marketing uses. If applicable, this information would include the categories of</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 15">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>customer information, as well as the names and addresses of those businesses with which we shared customer information for the immediately prior calendar year. To request a notice, please submit your request to privacy@bless.com.</p>
<p>Content Removal for Users Under 18</p>
<p>Users of the Platform who are California residents and are under 18 years of age may request and obtain removal of User Content they posted by emailing us at privacy@bless.com. All requests must be labeled "California Removal Request" on the email subject line. All requests must provide a description of the User Content you want removed and information reasonably sufficient to permit us to locate that User Content. We do not accept California Removal Requests via postal mail, telephone, or facsimile. We are not responsible for notices that are not labeled or sent properly, and we may not be able to respond if you do not provide adequate information. Please note that your request does not ensure complete or comprehensive removal of the material. For example, materials that you have posted may be republished or reposted by another user or third party.</p>
<p>Changes</p>
<p>We may update this Privacy Policy from time to time. When we update the Privacy Policy, we will notify you by updating the &ldquo;Last Updated&rdquo; date at the top of this policy and posting the new Privacy Policy and providing any other notice required by applicable law. We recommend</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 16">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>that you review the Privacy Policy each time you visit the Platform to stay informed of our privacy practices.</p>
<p>Contact</p>
<p>Questions, comments and requests regarding this policy should be addressed to:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Mailing Address: Bless Inc., Attn: Bless Legal Department 10100 Venice Blvd, Suite 401, Culver City, CA 90232, USA</p>
</li>
<li>
<p>Email Address: privacy@bless.com</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Privacy Policy</p>
<p>(If you are a user having your usual residence in the EU) Last updated: October 2019</p>
<p>Welcome to Bless (the &ldquo;Platform&rdquo;). The Platform is provided and controlled by Bless Inc. or Bless Pte. Ltd. (&ldquo;Bless&rdquo;, &ldquo;we&rdquo; or &ldquo;us&rdquo;).</p>
<p>We are committed to protecting and respecting your privacy. This policy sets out the basis on which we process any personal data we</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 17">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>collect from you, or that you provide to us. If you do not agree with this policy, you should not use the Platform.</p>
<p>If you have any questions about how we use your personal data, please contact privacy@bless.com.</p>
<p>Our representative in the European Union is Bless Information Technologies UK Limited, Aviation House, 125 Kingsway Holborn, London, WC2B 6NH.</p>
<p>To see the full Privacy Policy, click here. SUMMARY</p>
<p>What information do we collect about you?</p>
<p>We collect and process information you give us when you create an account and upload content to the Platform. This includes technical and behavioural information about your use of the Platform. We also collect information about you if you download the app and interact with the Platform without creating an account. For more information, click here.</p>
<p>How will we use the information about you?</p>
<p>We use your information to provide the Platform to you and to improve and administer it. Where it is in our legitimate interests, we use your information to, among other things, improve and develop the Platform and ensure your safety. In each case where we have your consent, we</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 18">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>will also use your personal information to serve you targeted advertising and promote the platform. For more information, click here.</p>
<p>Who do we share your information with?</p>
<p>We share your data with third party service providers who help us to deliver the Platform including cloud storage providers. We also share your information with business partners, other companies in the same group as Bless Inc, content moderation services, measurement providers, advertisers and analytics providers. Where required by law, we will share your information with law enforcement agencies or regulators and with third parties pursuant to a legally binding court order. For more information, click here.</p>
<p>Your Rights</p>
<p>In certain circumstances, you have rights in relation to your information such as the right to deletion, the right to access and the right of portability. For more information, click here.</p>
<p>How long do we keep hold of your information?</p>
<p>We retain your information for as long as it is necessary to provide you with the service so that we can fulfil our contractual obligations and rights in relation to the information involved. Where we do not need your information in order to provide the service to you, we retain it only as long as we have a legitimate business purpose in keeping such data or where we are subject to a legal obligation to retain the data. We will</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 19">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>also retain your data if necessary for the establishment, exercise or defence of legal claims. For more information, click here.</p>
<p>How will we notify you of any changes to this Privacy</p>
<p>Policy?</p>
<p>We will generally notify all users of any material changes to this policy through a notice on our Platform. However, you should look at this policy regularly to check for any changes. We will also update the &ldquo; Last Updated&rdquo; date at the top of this policy, which reflects the effective date of such policy. By accessing or using the Platform, you acknowledge that you have read this policy and that you understand your rights in relation to your personal data and how we will collect, use and process it. For more information, click here.</p>
<p>****************************************************************** *****************************</p>
<p>1. The types of personal data we use</p>
<p>We collect and use the following information about you:</p>
<p>Your Profile Information. You give us information when you register on the Platform, including your username, date of birth, email address and/or telephone number, information you disclose in your user profile and your photograph or profile video.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 20">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>User Content and Behavioural Information. We process the content you generate on the Platform, including preferences you set (such as choice of language), photographs and videos you upload and comments you make (&ldquo;User Content&rdquo;). We collect information through surveys, challenges and competitions in which you participate. We also collect information regarding your use of the Platform, e.g. how you engage with the Platform, including how you interact with content we show to you, the ads you view, videos you watch and problems encountered, the content you like, the content you save to &lsquo;My Favourites&rsquo; and the users you follow. We also infer your preferences, including your interests, gender and age for the purpose of personalising content. We process information about your followers, the likes you receive and responses to content you upload, for the purposes of promoting your content to other users and exploring whether your profile presents further opportunities for collaboration. If you have consented, we will use this information for the purpose of serving personalised advertising. We will also process your personal data in order to tell you about services and opportunities.</p>
<p>Information from Third Parties. You may choose to share certain data with us from third parties or through your use of the Platform, we may collect such third party data automatically. We have set out further detail on the information we receive from third parties below:</p>
<p>Business Partners</p>
<p>If you choose to register to use the Platform using your social network account details (e.g. Facebook, Twitter, Instagram, Google), you will</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 21">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>provide us or allow your social network to provide us with your username and public profile. We will likewise share certain information with the relevant social network such as your app ID, access token and the referring URL. For further information on sharing your Facebook contact list with us, please see Find other users and invite your friends.</p>
<p>Advertisers and Advertising Networks</p>
<p>We use the information collected from you, and your interaction with the Platform and other third party sites, to infer your likely interests to provide you with more relevant advertising. This information tells us about websites you've visited, apps you've downloaded and purchases you have made so that we can predict what else might interest you in the future and assess how effective the advertising on our Platform is. We collect this information by the use of Cookies and similar technologies on our App and from similar information received from third parties who advertise on our Platform and whose sites you visit.</p>
<p>Technical Information we collect about you. We automatically collect certain information from you when you use the Platform including when you are using the App without an account. Such information includes your IP address, browsing history (i.e. the content you have viewed on the Platform), mobile carrier, time zone settings, identifier for advertising purposes and the version of the app you are using. We will also collect information regarding the device you are using to access the Platform such as the model of your device, the device system, network type, device ID, your screen resolution and operating system.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 22">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Where you log-in from multiple devices, we will be able to use your profile information to identify your activity across devices.</p>
<p>Location. We use the 'Region' you select in Settings to customise your Bless experience. When you use the Platform on a mobile device, we will collect information about your location. In certain jurisdictions, with your permission, we will collect Global Positioning System (GPS) data and mobile device location information. If you do not wish to share your precise location with us, you can switch off location services via the settings on your mobile device.</p>
<p>Find other users and invite your friends. You can choose whether to find other users of the Platform using our 'Find Friends' function. This functionality allows you to see which of your friends from either your telephone's contact list or Facebook friends list is using the Platform and offers you the option to follow them. You can also use this function to invite your contacts to join you on the Platform. We will use the contact information you have for that person, either from within your telephone's contact list or Facebook friends list and give you the option to send them either an SMS, email or third party message (such as Whatsapp, Facebook (including Facebook Messenger) or Twitter) inviting them to view your Bless profile.</p>
<p>Buy coins. If you buy coins via in-app purchases, please note the provisions of our Virtual Items Policy. Your purchase will be made via your Apple iTunes or Google Play account. We do not collect any financial or billing information from you in relation to such a transaction. Please review the relevant app store's terms and notices in</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 23">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>respect of the handling of such data. So that we can credit your account with the correct value in coins, we keep a record of the purchases you make, the time at which you make those purchases and the amount spent.</p>
<p>2. Cookies</p>
<p>We use cookies and other similar technologies (e.g. pixels etc.) (&ldquo; Cookies&rdquo;) to enhance your experience using the Platform. Cookies are used to collect information, including personal data, from you. Cookies are small files which, when placed on your device, enable us to provide certain features and functionality. To learn more about cookies please see our Cookies Policy.</p>
<p>3. How we use your personal data</p>
<p>We will use the information we collect about you in the following ways:</p>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>&bull; In accordance with, and to perform our contract with you, we will use your information to:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o notify you about changes to our service;<br /> o provide you with user support;<br /> o enforce our terms, conditions and policies;<br /> o administer the Platform including troubleshooting;</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 24">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o personalise the content you receive and provide you with tailored content that will be of interest to you;</p>
<p>o enable you to share User Content and interact with other users;<br /> o enable our messenger service to function if you choose to use this</p>
<p>function;<br /> o enable you to participate in the virtual items program; and o communicate with you.</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>In order to comply with our legal obligations, we use your data to help us detect abuse, fraud and illegal activity on the Platform;</p>
</li>
<li>
<p>In accordance with our legitimate interests to provide an effective and dynamic Platform, we will use your information to:</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o ensure your safety and security including reviewing user content, messages and associated metadata for breach of our Community Guidelines and other inappropriate content;</p>
<p>o ensure content is presented in the most effective manner for you and your device;</p>
<p>o improve, promote and develop the Platform and promote popular topics, hashtags and campaigns on the Platform;</p>
<p>o carry out data analysis and test the Platform to ensure its stability and security;</p>
<p>o allow you to participate in interactive features of the Platform;</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 25">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o to enable you to socialise on the Platform, for example, by allowing other users to identify you via the "Find other friends" function or through their phone contacts;</p>
<p>o to ensure that you are old enough to use our Platform (as required by law).</p>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>&bull; With your consent, we will use your information to:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o provide you with personalised advertising. Please see Information from Third Parties: Advertisers and Advertising Networks for more information. You can manage 'Personalized Ads' via your<br /> App settings, go to 'Privacy and safety' and then go to 'Personalization and data'; and</p>
<p>o provide you with location-based services (where those services are available in your jurisdiction and you choose to share your precise location with us).</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>4. How we share your personal data</p>
<p>We share your data with the following selected third parties: Business Partners</p>
<p>If you choose to register to use the Platform using your social network account details (e.g. Facebook, Twitter, Instagram, Google), you will provide us or allow your social network to provide us with your username and public profile. We will likewise share certain information with the relevant social network such as your app ID, access token and the referring URL.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 26">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Where you opt to share content on social media platforms, the video, username and accompanying text will be shared on that platform or, in the case of sharing via instant messaging platforms such as Whatsapp, a link to the content will be shared.</p>
<p>Payment Providers</p>
<p>If you choose to Buy Coins, we will share data with the relevant payment provider to facilitate this transaction. We share a transaction ID to enable us to identify you and credit your account with the correct value in coins once you have made the payment.</p>
<p>Service Providers</p>
<p>We provide information and content to service providers who support our business, such as cloud service providers and providers of content moderation services to ensure that the Platform is a safe and enjoyable place.</p>
<p>Analytics providers</p>
<p>We use analytics providers to help us in the optimisation and improvement of the Platform. Our third party analytics providers also help us serve targeted adverts (if you have chosen to receive personalized advertising from us and/ or our partners). For more information about how our analytics providers collect data from the Platform, please see our Cookies Policy.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 27">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Advertisers and Advertising Networks</p>
<p>We share information with advertisers and third party measurement companies to show how many and which users of the Platform have viewed or clicked on an advertisement. We share your device ID with measurement companies so that we can link your activity on the Platform with your activity on other websites; we then use this information to show you adverts which may be of interest to you.</p>
<p>Our Corporate Group</p>
<p>We may also share your information with other members, subsidiaries, or affiliates of our corporate group, to provide the Platform including improving and optimising the Platform, preventing illegal use and supporting users.</p>
<p>Law Enforcement</p>
<p>We will share your information with law enforcement agencies, public authorities or other organisations if legally required to do so, or based on our legitimate business interests if such use is reasonably necessary to:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>comply with legal obligation, process or request;</p>
</li>
<li>
<p>enforce our Terms of Service and other agreements, policies, and</p>
<p>standards, including investigation of any potential violation thereof;</p>
</li>
<li>
<p>detect, prevent or otherwise address security, fraud or technical issues; or</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 28">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; protect the rights, property or safety of us, our users, a third party or the public as required or permitted by law (including exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction).</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Public Profiles</p>
<p>Please note that if your profile is public, your content will be visible to anyone on the Platform and may also be accessed or shared by your friends and followers as well as third parties such as search engines, content aggregators and news sites. You can change who can see a video each time you upload a video. Alternatively, you can change your profile to default private by changing your settings to 'Private Account' in 'Manage my account' settings.</p>
<p>Sale or Merger<br /> We will also disclose your information to third parties:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>in the event that we sell or buy any business or assets (whether a result of liquidation, bankruptcy or otherwise), in which case we will disclose your data to the prospective seller or buyer of such business or assets; or</p>
</li>
<li>
<p>if we sell, buy, merge, are acquired by, or partner with other companies or businesses, or sell some or all of our assets. In such transactions, user information may be among the transferred assets.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>5. Where we store your personal data</p>
</div>
</div>
</div>
<div class="page" title="Page 29">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>The personal data that we collect from you will be transferred to, and stored at, a destination outside of the European Economic Area ("EEA").</p>
<p>Where we transfer your personal data to countries outside the EEA, we do so under the Commission&rsquo;s model contracts for the transfer of personal data to third countries (i.e. standard contractual clauses) pursuant to 2004/915/EC or 2010/87/EU (as appropriate). For a copy of these Standard Contractual Clauses, please contact us</p>
<p>at privacy@bless.com.</p>
<p>6. Your Rights</p>
<p>You have the following rights:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>The right to request free of charge (i) confirmation of whether we process your personal data and (ii) access to a copy of the personal data retained;</p>
</li>
<li>
<p>The right to request proper rectification or removal of your personal data or restriction of the processing of your personal data;</p>
</li>
<li>
<p>Where processing of your personal data is either based on your consent or necessary for the performance of a contract with you and processing is carried out by automated means, the right to receive the personal data concerning you in a structured, commonly used and machine-readable format or to have your personal data transmitted directly to another company, where technically feasible (data portability);</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 30">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Where the processing of your personal data is based on your consent, the right to withdraw your consent at any time without impact to data processing activities that have taken place before such withdrawal;</p>
</li>
<li>
<p>The right not to be subject to any automatic individual decisions, including profiling, which produces legal effects on you or similarly significantly affects you unless we have your consent, this is authorised by Union or Member State law or this is necessary for the performance of a contract;</p>
</li>
<li>
<p>The right to object to processing if we are processing your personal data on the basis of our legitimate interest unless we can demonstrate compelling legitimate grounds which may override your right. If you object to such processing, we ask you to state the grounds of your objection in order for us to examine the processing of your personal data and to balance our legitimate interest in processing and your objection to this processing;</p>
</li>
<li>
<p>The right to object to processing your personal data for direct marketing purposes; and</p>
</li>
<li>
<p>The right to lodge complaints before the competent data protection regulator.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Before we can respond to a request to exercise one or more of the rights listed above, you may be required to verify your identity or your account details.</p>
<p>Please send an e-mail to us if you would like to exercise any of your rights privacy@bless.com.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 31">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>7. The security of your personal data</p>
<p>We take steps to ensure that your information is treated securely and in accordance with this policy. Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, for example, by encryption, we cannot guarantee the security of your information transmitted via the Platform; any transmission is at your own risk.</p>
<p>We have appropriate technical and organizational measures to ensure a level of security appropriate to the risk of varying likelihood and severity for the rights and freedoms of you and other users. We maintain these technical and organizational measures and will amend them from time to time to improve the overall security of our systems.</p>
<p>We will, from time to time, include links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any information to these websites.</p>
<p>8. How long we keep your personal data</p>
<p>We retain your information for as long as it is necessary to provide you with the service so that we can fulfil our contractual obligations and</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 32">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>rights in relation to the information involved. Where we do not need your information in order to provide the service to you, we retain it only for so long as we have a legitimate business purpose in keeping such data. However, there are occasions where we are likely to keep this data for longer in accordance with our legal obligations or where it is necessary for the establishment, exercise or defence of legal claims.</p>
<p>After you have terminated your use of our Platform, we store your information in an aggregated and anonymised format.</p>
<p>9. Information relating to children</p>
<p>Bless is not directed at children under the age of 13. If you believe that we have personal data about or collected from a child under the relevant age, please contact us at privacy@bless.com.</p>
<p>10. Complaints</p>
<p>In the event that you wish to make a complaint about how we process your personal data, please contact us in the first instance<br /> at privacy@bless.com and we will endeavour to deal with your request as soon as possible. This is without prejudice to your right to launch a claim with the relevant data protection authority.</p>
<p>11. Changes</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 33">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>We will generally notify all users of any material changes to this policy, through a notice provided via the Platform. However, you should look at this policy regularly to check for any changes. We will also update the &ldquo;Last Updated&rdquo; date at the top of this policy, which reflects the effective date of such policy. Your continued access to or use of the Platform after the date of the updated policy constitutes your acceptance of the updated policy. If you do not agree to the updated policy, you must stop accessing or using the Platform.</p>
<p>12. Contact</p>
<p>Questions, comments and requests regarding this policy should be addressed to privacy@bless.com.</p>
<p>Privacy Policy</p>
<p>(If your residence is in another country, and not the US or EU) Last updated: February 2019</p>
<p>Welcome to Bless (the &ldquo;Platform&rdquo;). The Platform is provided and controlled by Bless Pte. Ltd. (&ldquo;Bless&rdquo;, &ldquo;we&rdquo; or &ldquo;us&rdquo;). We are committed to protecting and respecting your privacy.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 34">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>By accessing or using our website, services, applications, products and content (that include but are not limited to the Platform) (collectively, the &ldquo;Services&rdquo;), you acknowledge that you have read this policy and that you understand your rights in relation to your information and how we will collect, use and process it. If you do not agree with this policy in general or any part of it, you should not use our Services. Capitalized terms that are not defined in this policy have the meaning given to them in the Terms of Service.</p>
<p>If you have any questions about how we use your information please contact privacy@bless.com.</p>
<p>SUMMARY</p>
<p>What information do we collect about you?</p>
<p>We collect information when you create an account, and use the Platform, such as your contact details, content you create, your location, and credit card details. We also collect information you share with us from third party social network providers, and technical and behavioural information about your use of the Platform. We also collect information contained in the messages you send through our Platform and your contacts if you allow us access to your phone book on your mobile device.</p>
<p>How will we use the information about you?</p>
<p>We use your information to fulfil and enforce our service contract with you, to improve and administer the Platform and allow you to use its</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 35">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>functionalities. We also use your information to, among other things, show you suggestions, promote the Platform, and serve you targeted advertising.</p>
<p>Who do we share your information with?</p>
<p>We share your data with our third party service providers we rely on to help you provide you with the Platform. These providers include cloud storage providers, and other IT service providers. We also share your information with our business partners, advertisers, analytics and search engine providers. We may also share your information with law enforcement agencies, public authorities or government bodies as required by law.</p>
<p>Your Rights</p>
<p>You may have rights in relation to your information.</p>
<p>How long do we keep hold of your information?</p>
<p>We retain your information for as long as it is necessary to fulfil (1) our contractual obligations and rights in relation to the information involved, (2) our legal obligation(s) under applicable law(s) and regulations to retain data for a certain period of time, taking into account statute of limitations under applicable law(s); (3) our legitimate business purposes; (4) and to conduct a defence in relation to disputes or potential disputes.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 36">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>How will we notify you of any changes?</p>
<p>We will generally notify all users of any material changes to this policy, through a notice on our Platform. However, you should look at this policy regularly to check for any changes. We will also update the &ldquo; Last Updated&rdquo; date at the top of this policy, which reflects the effective date of such policy. Your continued access to or use of the Services after the date of the updated policy constitutes your acceptance of the updated policy. If you do not agree to the updated policy, you must stop accessing or using the Services.</p>
<p>1. The types of information we collect</p>
<p>We may collect and use the following information about you:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; Information you give us. You give us information about you when you register for and/or use the Platform, including your name, age, gender, address, email address, social media login details, telephone number and financial and credit card information and your photograph as well as your language selection. In addition, this category will include your customer profile, the comments you make on our Platform (including any Virtual Items you contribute to any user-generated content), account and billing details, including but not limited to, your Apple, Google or Windows account, PayPal or other third-party payment channel account where required for the purpose of paying or withdrawing cash. It also includes user-generated content, photographs and video content that you choose to broadcast on our Platform. You are also able to register using your user credentials to certain social media sites, such as Twitter, Facebook, Instagram or Google.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 37">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Information you choose to share from your social networks. If you choose to link your social network or public forum account (e.g. Facebook, Twitter, Instagram, or Google) to the Platform, you will provide us or allow your social network to provide us with information from your social network or public forum accounts, including your contact list. This data will include information relating to your use of the Platform on such public forums and/or social networks. For further information as to how and for what purpose the social network provider processes your data, please see the relevant privacy policies of these social network providers.</p>
</li>
<li>
<p>Technical Information we collect about you. We automatically collect certain information from you when you use the Platform, including your IP address, location-related data (as described below) or other unique device identifiers, your browsing history (including content you have viewed in the Platform), Cookies (as defined below), your mobile carrier, time zone setting, mobile or device information including the model of your device, your screen resolution, operating system and platform and information regarding your use of the Platform.</p>
</li>
<li>
<p>Behavioural information we collect about you: We also collect information regarding your use of the Services, e.g. your comments on our Platform or any other user-generated content and video content that you generate through and broadcast on our Platform. In addition, we link your contact or subscriber information with your activity on our Platform across all your devices using your email or social media log-in details. We collect engagement scores (&ldquo;likes&rdquo;, comments, repeated views) and related users based on your behaviour. Finally, we collect opt-ins and communication preferences.</p>
</li>
<li>
<p>Location data. When you use the Platform on a mobile device, we may collect information about your location. With your consent, we may also</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 38">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>collect Global Positioning System (GPS) data and mobile device location information.</p>
<ul>
<li>
<p>Information from third parties. We will receive information about you from third parties if you use any of the other websites we operate or other services we provide. We will also receive information from third parties (such as advertising networks and analytics providers) and from other sources, including business directories and other commercially or publicly available sources.</p>
</li>
<li>
<p>Your phone and Facebook contacts. You can choose whether to find other users of the Platform either through (i) your phone contacts or (ii) Facebook contacts. If you chose to find other users through your phone contacts, we will access and collect your phone contacts, including the names, phone numbers, addresses and any other information that you have stored on your phone about your contacts in order to determine if they are using the Platform by matching them with existing users of the Platform. If you want to find other users through your Facebook contacts, we will collect your public Facebook information as well as names and profiles of your Facebook contacts.</p>
</li>
<li>
<p>Messages. We collect and process (which includes scanning and analysing) information you provide, including any personal information, in the context of composing, sending, or receiving messages (that means the content as well as information about when the message has been sent, received and/or read and the participants of the communication) through our Service's messaging functionality. Please be aware that messages sent to other users of our Service will be accessible by those other users and that we are not responsible for the manner in which those users use or disclose messages.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 39">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Metadata. When you upload a video to the Platform (&ldquo;User Content&rdquo;), you automatically upload certain metadata that is connected to the User Content. In essence, metadata describes other data and provides information about your User Content that will not always be evident to the viewer. In connection with your video the metadata can describe how, when and by whom the piece of User Content was collected and how that content is formatted. It further includes information such as your account name that enables other users to trace back the video to your user account. Metadata will further consist of additional data that you chose to provide with the video, e.g. any hashtags used to mark keywords to the video or comments.</p>
</li>
<li>
<p>Buy coins. You might choose to buy coin packs via in-app purchases. You can use these coins to buy virtual gifts and send them to support other users during live broadcasts or in their channels. When you chose to buy coins you will be transferred to your app store on your mobile device to complete the purchase. In connection with this purchase, we will collect personal information from you. Furthermore, if you purchase any gift points in accordance with the Gift Point Policy using your Apple iTunes or Google Play account, we process the confirmation of the payment and credit your account.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>2. Cookies</p>
<p>We use cookies and other similar technologies (e.g. web beacons, flash cookies, etc.) (&ldquo;Cookies&rdquo;) to enhance your experience using the Platform, improve our services, and provide you with targeted advertising . Cookies are small files which, when placed on your device, enable us to provide certain features and functionality.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 40">
<div class="layoutArea">
<div class="column">
<p>We use the following Cookies:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Strictly necessary Cookies. These are Cookies that are required for the operation of the Platform. They include, for example, Cookies that enable you to log into secure areas of the Platform.</p>
</li>
<li>
<p>Functionality Cookies. These Cookies are used to recognise you when you return to the Platform. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region). These Cookies support the log-in function in the Platform for a 90 day period.</p>
</li>
<li>
<p>Social media Cookies. These Cookies allow users to create an account on the Platform by using their existing log-in for other services (for example, for Facebook, and Google).</p>
</li>
<li>
<p>Targeting Cookies. These Cookies record your visit to the Platform, the pages you have visited and the links you have followed, including your interactions with other websites or applications. We will use this information to make the Platform and the advertising displayed on it more relevant to your interests. We will also share this information with third parties for this purpose. Our service providers may also use the information about your interactions with our Platform to serve you targeted advertisements on other websites and applications.</p>
</li>
<li>
<p>Analytics Cookies. Analytics Cookies are statistical audience measuring systems that we use for our Services to help us measure which web pages you click on and how you use the Platform (see below for more details).</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>If for any reason you do not wish to take advantage of Cookies, you can disable Cookies by changing the settings on your browser.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 41">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>However, if you do so, this will affect your enjoyment of the Platform and we will no longer be able to offer to you personalised content. Unless you opt out of Cookies, we will assume you consent to the use of Cookies.</p>
<p>&ldquo;Do-not-track&rdquo; signals are preferences that users can set on their web browser to limit how their activity is tracked across third-party websites or online services. The Platform does not respond to "do- not-track" signals in your web browser.</p>
<p>Analytics information</p>
<p>On our Platform, we use third-party analytics tools to help us measure traffic and usage trends for the Services. Traffic refers to the different data flows surrounding activities of the users on the Services. These tools, for example, collect information sent by your device or our Services, including the pages you visit, add-ons, and other information that assists us in improving the Service. The information will be used to report and evaluate your activities and patterns as a user of the Platform to provide services in accordance with these activities.</p>
<p>Our third party analytics tool is Google Analytics provided by Google, Inc (1600 Amphitheatre Parkway Mountain View, CA 94043, USA). Google Analytics uses Cookies, small text files containing a string of alphanumeric characters and which are stored on your computer. Google will use this information including your truncated IP address to assemble statistics on the use of our Service or to provide other related services as described above. For further information on how</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 42">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Google Analytics collects and processes information about you and information on how to opt out from Google's collection of information from you, please click here. You can also find further information in the Google Analytics Terms of Service &amp; Privacy.</p>
<p>We further use "Facebook Pixel" of Facebook Inc., 1 Hacker Way, Menlo Park, CA 94025, USA ("Facebook"). This tool is used for advertising purposes in order to reveal if you have seen our advertisement on Facebook. If you do not want Facebook to collect the described information about you, you can opt-out of Facebook's use of cookies and Facebook Pixels here.</p>
<p>3. How we use your information</p>
<p>We will use the information we collect about you in the following ways:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>to administer the Platform (i.e. to provide our Services to you) and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes (i.e. to guarantee the Platform&rsquo;s stability and security) and to solicit your feedback;</p>
</li>
<li>
<p>to allow you to participate in interactive features of the Platform, when you choose to do so;</p>
</li>
<li>
<p>to personalise the content you receive and provide you with tailored content that will be of interest to you;</p>
</li>
<li>
<p>to improve and develop our Platform and conduct product development;</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 43">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>to measure and understand the effectiveness of the advertising we serve to you and others;</p>
</li>
<li>
<p>to provide you with services based on the country settings you have chosen, such as advertising and other content that is related to the country settings;</p>
</li>
<li>
<p>to make suggestions and recommendations to you and other users of the Platform about goods or services that will interest you or them;</p>
</li>
<li>
<p>to allow other users to identify you via the "Find other friends" function as a user of the Service, to allow you to find other users and to connect with them on the Platform, and to support the socializing function of the Services;</p>
</li>
<li>
<p>to provide you with your profile information to send to anyone you choose and to enable you to participate on the Platform and interact with other users;</p>
</li>
<li>
<p>to make your information available to other users in accordance with the privacy settings you chose for the respective information;</p>
</li>
<li>
<p>to show you content that is similar to content you liked or interacted with (by commenting and/or watching the content), content from your region as well as content from users you follow;</p>
</li>
<li>
<p>to show you advertisements that are relevant to you;</p>
</li>
<li>
<p>to promote the Services and use information that you give to us, such as User Content and video content that you can choose to broadcast on our Platform, as part of our advertising and marketing campaigns to promote the Platform;</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 44">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>to enable our messenger service to function (although this information is only processed if you choose to use this function) and you can choose to delete any information in this regard on your discretion via the clear cache function within the Platform&rsquo;s settings; and</p>
</li>
<li>
<p>to help us detect abuse, fraud, and illegal activity on the Platform;</p>
</li>
<li>
<p>to ensure that you are old enough to use our Services (as required by</p>
<p>law).</p>
</li>
<li>
<p>to notify you about changes to our Services;</p>
</li>
<li>
<p>to communicate with you.</p>
</li>
<li>
<p>to provide you with user support;</p>
</li>
<li>
<p>to enforce our terms, conditions and policies;</p>
</li>
<li>
<p>to receive payments from you and/or make payments to you in accordance with the Diamond and Flame provisions set out in the Supplemental Terms &ndash; Virtual Items Policy under the Terms of Service or under a separate Premium Content Creator Agreement, if applicable.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>4. How we share your information</p>
<p>We will share your information with the following selected third parties:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>our business partners so that we can make you special offers via the Platform;</p>
</li>
<li>
<p>advertisers and advertising networks that require the data to select and serve adverts to you and others.;</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 45">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>cloud storage providers to store the information you provide and for disaster recovery services, as well as for the performance of any contract we enter into with you;</p>
</li>
<li>
<p>Analytics and search engine providers that assist us in the optimisation and improvement of the Platform; and</p>
</li>
<li>
<p>IT service providers;</p>
</li>
<li>
<p>Our data center and the servers of our host providers.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>We will also share your information with any member, subsidiary, parent, or affiliate of our corporate group, only for the purposes set out above, to assist in the improvement and optimisation of the Platform, in order to prevent illegal uses, increase user numbers, development, engineering and analysis of information or for our internal business purposes (How we use your information).</p>
<p>We will share your information with law enforcement agencies, public authorities or other organizations if legally required to do so, or if such use is reasonably necessary to:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>comply with legal obligation, process or request;</p>
</li>
<li>
<p>enforce our Terms of Service and other agreements, policies, and</p>
<p>standards, including investigation of any potential violation thereof;</p>
</li>
<li>
<p>detect, prevent or otherwise address security, fraud or technical issues; or</p>
</li>
<li>
<p>protect the rights, property or safety of us, our users, a third party or the public as required or permitted by law (including exchanging information</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 46">
<div class="layoutArea">
<div class="column">
<p>with other companies and organisations for the purposes of fraud protection and credit risk reduction).</p>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>We will also disclose your information to third parties:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>in the event that we sell or buy any business or assets, in which case we will disclose your data to the prospective seller or buyer of such business or assets; or</p>
</li>
<li>
<p>if we sell, buy, merge, are acquired by, or partner with other companies or businesses, or sell some or all of our assets. In such transactions, user information will be among the transferred assets.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>5. Your Rights</p>
<p>If you have registered for an account, you may access and update certain personal information that you have provided to us by logging into your online account and using the features and functionalities available there.</p>
<p>You can manage third party advertising preferences for some of the third parties we work with to serve advertising across the Internet by clicking here and by utilizing the choices available<br /> at www.networkadvertising.org/managing/opt_out.asp and www.about ads.info/choices.</p>
<p>You can opt out of marketing or advertising emails by utilizing the &ldquo; unsubscribe&rdquo; link or mechanism noted in marketing or advertising emails you receive from us.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 47">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>You can switch off location information functionality on your mobile device if you do not wish to share your GPS or mobile device location information with us.</p>
<p>California Residents</p>
<p>California residents who provide personal information in obtaining products or services for personal, family, or household use are entitled to request and obtain from us once a calendar year information about the customer information we shared, if any, with other businesses for their own direct marketing uses. If applicable, this information would include the categories of customer information and the names and addresses of those businesses with which we shared customer information for the immediately prior calendar year. To request a notice, please submit your request to privacy@bless.com.</p>
<p>6. The security of your information</p>
<p>We take steps to ensure that your information is treated securely and in accordance with this policy. Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your information, for example, by encryption, we cannot guarantee the security of your information transmitted through the Platform; any transmission is at your own risk.</p>
<p>We have appropriate technical and organizational measures to ensure a level of security appropriate to the risk of varying likelihood and severity for the rights and freedoms of you and other users. We</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 48">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>maintain these technical and organizational measures and will amend them from time to time to improve the overall security of our systems.</p>
<p>We will, from time to time, include links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any information to these websites.</p>
<p>Note that If you upload a video to the Platform for the first time, you will be notified that you are using the Platform on a public account, meaning that if you post a video it can be viewed by every user of the Platform regardless your connection to the user. You can limit the audience having access to the information included in the information that you post to the Platform in your privacy settings as specified in the information window. Changes to the privacy settings on the Platform will immediately apply and also affect Information that you have posted in the past. We will delete your information from your use of the Platform once you decided to delete the respective UGV or broadcast content or other information you provided in your profile.</p>
<p>7. How long we keep your information</p>
<p>We use the following criteria to determine the period for which we will keep your information:</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 49">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>our contractual obligations and rights in relation to the information involved;</p>
</li>
<li>
<p>legal obligation(s) under applicable law(s) and regulations to retain data for a certain period of time;</p>
</li>
<li>
<p>statute of limitations under applicable law(s);</p>
</li>
<li>
<p>our legitimate business purposes; and</p>
</li>
<li>
<p>disputes or potential disputes.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>After you have terminated your use of our Services, we can store your information in an aggregated and anonymised format. Notwithstanding the foregoing, we can also retain any personal information as reasonably necessary to comply with our legal obligations, allow us to resolve and litigate disputes, and to enforce our agreements.</p>
<p>8. Information relating to children</p>
<p>The Platform is not directed at children under the age of 13. If we become aware that personal information has been collected from a person under the age of 13 we will delete this information and terminate the person&rsquo;s account. If you believe that we have collected information from a child under the age of 13, please contact us</p>
<p>at privacy@bless.com. 9. Changes</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 50">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>We will generally notify all users of any material changes to this policy, through a notice on our Platform. However, you should look at this policy regularly to check for any changes. We will also update the &ldquo; Last Updated&rdquo; date at the top of this policy, which reflects the effective date of such policy. Your continued access to or use of the Services after the date of the updated policy constitutes your acceptance of the updated policy. If you do not agree to the updated policy, you must stop accessing or using the Services.</p>
<p>10. Contact</p>
<p>Questions, comments and requests regarding this policy should be addressed to:</p>
<p>Bless Pte. Ltd.</p>
<p>Address: 10 Anson Road #10-08 International Plaza Singapore (079903)</p>
<p>Email Address: privacy@bless.com Attention: Privacy Team</p>
<p>Supplemental Terms &ndash; Jurisdiction- Specific</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 51">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>In the event of a conflict between the provisions of the Supplemental Terms &ndash; Jurisdiction-Specific that are relevant to your jurisdiction from which you access or use the Services, and the rest of policy, the relevant jurisdictions&rsquo; Supplemental Terms &ndash; Jurisdiction-Specific will supersede and control.</p>
<p>India. If you are using our Services in India, the following additional terms apply. In the event of any conflict between the following additional terms and the provisions of the main body of this policy, the following terms shall prevail.</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>The security of your personal data. The personal data shared by you for the purposes of the Services would be safeguarded in accordance with the policies and systems adopted by us.</p>
</li>
<li>
<p>Data retention. We will not retain sensitive personal data or information for longer than is required for the purposes for which such information may be lawfully used or is otherwise required under any law for the time being in force.Data rights. You have the right to access and review personal data we hold about you, to rectify any personal data held about you that is inaccurate, to request the deletion of personal data held about you, and the right to request the suspension of the processing of your personal data. You can exercise your rights by contacting us</p>
<p>at privacy@bless.com.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Indonesia. If you are using our Services in Indonesia, the following additional terms apply. In the event of any conflict between the following additional terms and the provisions of the main body of this Privacy Policy, the following terms shall prevail.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 52">
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Parental and Guardian Consent. If you are under the age of 21, you declare that you had the consent of your parent or legal guardian to use the Services or to register an account on the Services.</p>
</li>
<li>
<p>Data Rights. You have the right to access personal data in our Platform from time to time.</p>
</li>
<li>
<p>Notification. In the event of Bytedance fails to maintain the confidentiality of your personal data in our Platform, Bytedance will notify you immediately through the contact information provided by you.</p>
</li>
<li>
<p>Language. This policy is written in the English language and Indonesian language. In the event of any inconsistency or different interpretation between the English text and Indonesian text, the relevant Indonesian text shall be deemed to be automatically amended to conform with and to make the relevant Indonesian text consistent with the relevant English text. Each party acknowledges that it has read this policy and understands its content and that this policy has been entered into freely and without duress. The official text of this policy shall be in English. The parties agree that to comply with Law No. 24 of 2009 of the Republic of Indonesia (&ldquo;Law No.24/2009&rdquo;) on Flag, Language, State Emblem and National Anthem applies to this policy (as an agreement to which an Indonesian entity is a party), this policy is written in both English and Indonesian language. The parties agree that in the event of any dispute concerning the construction or interpretation of this policy, reference shall be made only to the version as written in English and not to the Indonesian language version or any translation into any other language. You acknowledge that you fully understand the language and the content of this policy and you agree that you will not use the provisions under Law No.24/2009 to invalidate this policy.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 53">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; Change to the terms. The following terms shall apply with priority over &ldquo; Changes&rdquo; above: &ldquo;we may amend this policy from time to time to the extent that is permitted by the applicable laws. In the event we amend this policy, we will notify you of the effective date of the changes through (i) a notice to be posted on the landing page of our website or the splash screen of our mobile app or (ii) the contact information you provided to us. If you fail to explicitly express your objection to the amended policy even though we notified you that your failure to do so within the above advance notification period will be considered as an acceptance of the changes, you will be considered to have agreed to the new policy.&rdquo;</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>Japan. If you are using our services in Japan, the following additional terms apply:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Parental and Guardian Consent. If you are over the age of 16 but under the age of 20, you declare that you had the consent of your parent or legal guardian to use the Platforms or to register an account on the Platforms.</p>
</li>
<li>
<p>Messages. Concerning the provisions set out above (regarding &ldquo; Messages&rdquo; of &ldquo;The types of information we collect&rdquo;), the following additional terms apply: No person reads your messages unless required by applicable laws and regulations. The purpose of this functionality is to detect abuse, fraud, and illegal activity on the Platform. You may turn this feature off at any time by going to privacy@bless.com.</p>
</li>
<li>
<p>How We Share Your Personal Data. Notwithstanding the information set out above (How we share your personal data), in Japan we share your personal data only with selected third parties expressly listed in that section. For customers in Japan, Bytedance continues to be primarily responsible for protection of your information.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="page" title="Page 54">
<div class="layoutArea">
<div class="column">
<p>&bull; Your Rights</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o Marketing. You have the right to ask us not to process your personal data for email or text marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us at privacy@bless.com.</p>
<p>o Data Rights. You have the right to access personal data we hold about you, to rectify any personal data held about you that is inaccurate, to receive a copy of the personal data we hold about you in a paper format or a structured, commonly-used and machine readable format, and to request the deletion of personal data held about you. You can exercise your rights by contacting us at privacy@bless.com.</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>South Korea. If you are using our services in South Korea, the following additional terms apply. In the event of any conflict between the following additional terms and the provisions of the main body of this policy, the following terms shall prevail.</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; How we share your personal data. In addition to the main text of this policy, in the event we use information such as user-generated content and video content that you may choose to broadcast on our Platform as part of our advertising and marketing campaigns to promote the Platform, your personal data contained in such information may be disclosed to the recipients of such advertising or marketing content.</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 55">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; Data retention. We destroy personal data whose purpose of collection as consented to by you have been achieved, or whose periods of retention and use to which you consented to or which were provided in this privacy policy have expired; provided, however, we will continue to store your personal data for the following statutorily-prescribed periods, where applicable, including, but not limited to:</p>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>o Act on Consumer Protection in Electronic Commerce:</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>&sect; &nbsp;Records on your cancellation of an order, your payment on a purchased item, and our supply of a good/service: 5 years</p>
</li>
<li>
<p>&sect; &nbsp;Records on the handling of consumer complaints or disputes: 3 years</p>
</li>
<li>
<p>&sect; &nbsp;Records on advertisements and labels: 6 months</p>
</li>
</ul>
</div>
</div>
</div>
<div class="layoutArea">
<div class="column">
<p>o Protection of Communications Secrets Act<br /> &sect; Records on your visits to our website: 3 months</p>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<ul>
<li>
<p>Destruction of Personal data. We destroy your personal data in a manner that renders it unrestorable by the relevant department.</p>
</li>
<li>
<p>Your Rights.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o Marketing. You have the right to ask us not to process your personal data for email or text marketing purposes. We will usually inform you (before collecting your data) and obtain your consent if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can withdraw your consent at any time by contacting us</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 56">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>at privacy@bless.com. Data rights. You have the right to access personal data we hold about you, to rectify any personal data held about you that is inaccurate, to request the deletion of personal data held about you, and the right to request the suspension of the processing of your personal data. You can exercise your rights by contacting us at privacy@bless.com.</p>
<p>o Data Security. We work hard to protect Bytedance and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. To this end, we have in place technical, managerial and physical safeguards, including internal policy for data protection, limiting the access to personal data on a need-to-know basis and controlling access to the facilities where personal data is processed.</p>
<p>o Change to the Policy. In the event we make any changes to this policy, we will notify you of such changes at least 7 days before the effective date of the updated policy (30 days if the changes will significantly affect your rights or obligations under this policy) via our website or service page.</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>United Arab Emirates: If you are using our services in the United Arab Emirates (&ldquo;UAE&rdquo;), the following additional terms apply. If any conflict arises between the main Privacy Policy and the additional terms, the following terms shall prevail:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>&bull; How we share your personal data. In addition to the main text of this policy, by using our Services in the UAE you agree to the terms of this Privacy Policy and consent to our sharing of your personal data in line with the main text of this Privacy Policy. You can withdraw your consent at any time by contacting us at privacy@bless.com, however, please note</p>
</div>
</div>
</div>
</div>
<div class="page" title="Page 57">
<div class="section">
<div class="layoutArea">
<div class="column">
<p>that in doing so you will no longer be able to use, access and/or view the Platform.</p>
<p>&bull; Governing law and dispute resolution. This Privacy Policy will be governed by and interpreted in accordance with the laws of the United Arab Emirates. In the event of a dispute arising between the parties in connection with this Privacy Policy:</p>
</div>
</div>
</div>
<div class="section">
<div class="layoutArea">
<div class="column">
<p>o where the dispute relates to a claim for a sum within the limits specified by the DIFC Small Claims Tribunal from time to time, then the dispute shall be referred by either party to the said Tribunal; and</p>
<p>o for all other disputes, the parties shall seek settlement of that dispute by mediation in accordance with the Mediation Rules of the DIFC-LCIA Arbitration Centre, which Rules are deemed to be incorporated by reference to this clause. If the dispute is not settled by mediation within 30 days of the commencement of the mediation, or such further period as the parties shall agree in writing, the dispute shall be referred to and finally resolved by arbitration under the Arbitration Rules of the DIFC-LCIA Arbitration Centre, which Rules are deemed to be incorporated by reference to this clause. The language to be used in the mediation and in the arbitration, shall be English. In any arbitration commenced pursuant to this clause the number of arbitrators shall be one and the arbitration shall be conducted in Dubai.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
	
</div>